body {
  font-family: "Open Sans", sans-serif;
  background-color: #dcf7b8;
}
* {
  margin: 0.1rem;
  padding-left: 0.1rem;
  box-sizing: border-box;
  color: rgb(38, 51, 51);
}

body input {
  height: 2rem;
}

input[type="radio"] {
  vertical-align: middle;
}

input[type="radio"] + label {
  vertical-align: text-bottom;
}

input[type="button"] {
  background-color: green;
  border-radius: 2%;
  color: azure;
  padding: 5px;
  width: 5rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 2px solid white;
}

ul li {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

ul li p:first-child {
  font-weight: bolder;
}

fieldset {
  border: 2px solid white;
}

.search-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-text-box {
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 8px;
}

@media only screen and (min-width: 768px) {
  .sort-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
