body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fbfd;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li:nth-child(3n + 1) {
  font-weight: bolder;
}

fieldset {
  width: 40%;
}

fieldset * {
  margin: 0.35rem;
}

body input {
  height: 2rem;
  margin-bottom: 1rem;
}
