* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select,
textarea,
button {
  border: 2px solid rgb(164, 243, 199);
  border-radius: 4px;
  box-sizing: border-box;
  height: 2.5rem;
}

textarea {
  height: 8rem;
}

input[type="text"]:focus,
textarea:focus {
  border: 3px solid #555;
}

input[type="checkbox"] {
  position: relative;
  width: 2em;
  height: 2em;
  border: 2px solid rgb(56, 133, 90);
  color: rgb(72, 27, 27);
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 1.95em;
  right: -2px;
  top: -0.3em;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
}

button {
  background-color: rgb(2, 151, 25);
  color: white;
}

input[type="radio"] {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding-left: 0;
  padding-right: 0;

  border: 2px solid rgb(66, 193, 7);
  transition: 0.2s all linear;

  position: relative;
  top: 4px;
}

input[type="radio"]:checked {
  border: 7px solid rgb(22, 198, 48);
}
