* {
    margin: 0px;
    padding: 0px;

  }
  body {font-family: "Roboto", sans-serif;
  height: 100vh;}
img{
  width: 50px;
  border-radius: 25px;;
  margin :10px;
}

.left-col h2{
text-align: center;

}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.left-col{
    width: 30%;
    float:left;
    background-color: rgb(99, 3, 14);
    color:rgb(242, 236, 232);
    border: #f4efef groove 3px;
 
}
.right-col{
    width:68%;
    float:left;
    background-color: rgb(242, 236, 232);
   color: #333333;
   border: #f4efef groove 3px;
}
.icon-style{
    color: rgb(242, 236, 232);
}

ul.no-bullets {
  list-style-type: none; 
}
ul.horizontal-list{
  overflow: hidden;
  background-color: #333333;
}
ul.horizontal-list li{
  float: left;
}
ul.horizontal-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

ul.horizontal-list li a:hover {
  background-color: #111111;
}
.left-col h2,.left-col h3,.left-col li,.left-col a, .left-col p>i,.left-col h3+p
{
    margin: 8px 10px 8px 10px;
    padding: 1px 1px 1px 1px;
}

.right-col h2,.right-col h4,.right-col h5,.right-col p, .right-col li
{
  margin: 8px 10px 8px 15px;
  padding: 1px 1px 1px 1px;
}
.right-col h2:first-child , .left-col img
{
  margin-top: 20px;
}

a{
  color:#f17e7e;; 
  text-decoration: none;
}
a:hover{
  background-color: 
  rgb(99, 3, 14);
}


