* {
    margin: 0px;
    padding: 0px;

  }
  body {font-family: "Roboto", sans-serif}
img{
  width: 50px;
  border-radius: 25px;;
  margin :10px;
}

.left-col h2{
text-align: center;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.container div{
    min-height: 800px;
}
.left-col{
    width: 30%;
    height: 100%;
    float:left;
    background-color: rgb(99, 3, 14);
    color:rgb(242, 236, 232);
}
.right-col{
    width:70%;
    float:left;
    background-color: rgb(242, 236, 232);
   /* color: rgb(99, 3, 14);*/
   color: #333333;;
 
}
.icon-style{
    color: rgb(242, 236, 232);
}

ul.no-bullets {
  list-style-type: none; 
}
ul.horizontal-list{
  overflow: hidden;
  background-color: #333333;
}
ul.horizontal-list li{
  float: left;
}
ul.horizontal-list li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

ul.horizontal-list li a:hover {
  background-color: #111111;
}
/*
.right-col h2{
  background-color:rgb(99, 3, 14);
  color:rgb(242, 236, 232);
}*/
.left-col h2,h3,li,a, p>i,h3+p
{
    margin: 8px 10px 8px 10px;
    padding: 1px 1px 1px 1px;
}

