*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family:'Poppins', sans-serif;
}
/*Header styling */
header{
  background-color: rgb(232, 232, 246);
  height: 15vh;   
}

.flex-container-header{
  display: flex;
  flex-direction: column;
}

.left-margin{
  margin-left: 8vw;
}

header h1{
  color:rgb(16, 15, 15);
  font-size: 1.5vw;
  padding-top: 1rem;
}

header h5{
  font-size: 0.75vw;
  color: gray; 
  margin-top: 0.75vh;
}

/*Top Navigation styling*/
header + nav{
  height: 6vh;
}

header + nav ul{
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
}

header + nav ul li {
  list-style-type: none;
  font-size: 0.9vw;
  color: rgb(29, 28, 28);
}

nav ul li:hover
{
  color:grey;
}

/*For responsive img*/
.responsive{
  max-width: 100%;
  height: auto;
}

/*p Fonts in main section*/
.p-small-font{
  font-size: 0.75vw;
}

.p-medium-font{
  font-size: 0.82vw;
}

.p-large-font{
  font-size: 1vw;
}
/*Main articles section */
main{
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  margin-top: 5vh;
  width: 85%;
  row-gap: 3vh;
}

.right-col{
  margin-left: 6vw;
}

main article h2 , div h2{
  font-size: 1vw;
  color: rgb(29, 28, 28);
}

main article h5, main article h6{
  font-size: 0.75vw;
  color: rgb(29, 28, 28);
}

main article h5~p, main article h6~p{
  margin-top: 0.90vh;
  color: gray; 
 /* padding-right: 2rem;*/
}

main article h2~p
{
  /*font-size: 1vw;*/
  margin-top: 0.75vh;
  margin-bottom: 2vh;
  color: gray; 
}

.icon-size{
  margin: 3vh 1vh;
  height: 8vh;
}

/*Footer section*/
.grid-container{
 /* border: 1px solid rgb(140, 34, 34);*/
  display: grid;
grid-template-columns: repeat(4,1fr);

}
  
footer{
  background-color: rgb(109, 76, 209);
  display: grid;
  grid-template-columns: 1.25fr 0.7fr 1.25fr 1.5fr;
  color: white;
  width: auto;
  height: auto;
}

footer  div{
  margin-top: 7vh;
  margin-bottom: 7vh;
  gap:1vw;
}

footer div h6{
  margin-bottom: 2vh;
  font-size: 1vw;
}

footer div address iframe
{
width: 25vh;
height: 25vh;
}

footer div p{
  font-size:0.75vw;
  margin-bottom: 0.5vh;
}

.time
{
  font-weight: lighter;
}

footer ul {
  list-style-type: none;
}

footer ul li{
  font-size: 0.85vw; 
  margin-bottom: 1.5rem;
}

footer nav ul li:nth-child(3)
{
  margin-left: 1vw;
}

/*For small screens*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /*Top Nav bar */
    header + nav ul {
      display :block;
    }
  main{
    grid-template-columns: 1fr;
  }

  main article:nth-child(2)
  {
    order: -1;
  }

  .left-margin{
    margin-left: 6vw;
  }

  .grid-container{
    grid-template-columns: repeat(2,1fr);
  }
  footer{
    grid-template-columns: 1fr;
  }
  footer  div{
    margin-left: 8vw;
    margin-top: 2vh;
    margin-bottom: 2vh; 
  }
  footer ul li{
    font-size: 1vw; 
    margin-bottom: 0.5rem;
  }

  /*hide footer navigation*/
  footer div:nth-child(4) {
    display: none;
  }
}