*{
    margin: 0px;
    padding: 0px;
  }

  body{
    font-family:'Poppins', sans-serif;
  }

  header{
      background-color: rgb(232, 232, 246);
    
      height: 15vh;   
  }

.flex-container-header{
    display: flex;
    flex-direction: column;
}
.left-margin{
  margin-left: 3rem;
}

  header h1{
      color:rgb(16, 15, 15);
      font-size: 5vh;
      padding-top: 1rem;
  }

  header h5{
    font-size: 1vw;
      color: gray; 
      margin-top: 0.75vh;
  }

nav{
  height: 3rem;
}

  nav ul{
    display: flex;
    margin-top: 1rem;
    gap: 2rem;

  }

  nav ul li {
    list-style-type: none;
    color: rgb(29, 28, 28);
  }

  nav ul li:hover
  {
    color:grey;
  }
 .responsive{
   max-width: 100%;
   height: auto;
 }
