*{
    margin: 0px;
    padding: 0px;
  }
  body{
    font-family:'Poppins', sans-serif;
  }
  header{
      position: relative;
      background-color: rgb(232, 232, 246);
      height: 8rem;
  }
  header h1{
      position: absolute;
      top: 2rem;
      left: 8rem;
      color:rgb(16, 15, 15)
  }
  header h5{
      color: gray;
      position: absolute;
      top: 5rem;
      left: 8rem;
  }